:root {
    
    --color-green:hsl(158, 59%, 68%);
    --color-white:#ffffff;
    --color-dark-grey:#33333d;
    --color-medium-grey:#424250;
    --color-light-grey:#d2d6dc;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    background: var(--color-medium-grey);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* header */

.header {
    text-align: center;
}

.header_title {
    font-size: 3rem;
    font-weight: 900;
}

/* controls */

.controls {
    background: var(--color-dark-grey);
}

/* counter */

.counter {
    background: var(--color-dark-grey);
}

.counter_value{
    width: 100%;
    height: 15rem;
    text-align: center;
    font-size: 7rem;
    font-weight: 900;
    background: none;
    color: var(--color-white);
    border-width: 0;
    border-bottom: 1px solid var(--color-light-grey);
}

.counter_action {
    display: flex;
}

.counter_botton {
    background: none;
    width: 50%;
    border-width: 0;
    color: var(--color-light-grey);
    font-size: 3rem;
    height: 10rem;
    border-bottom:1px solid var(--color-light-grey);
    transition: transform 0.2s;
    transform: translateY(0);
}
.Res {
    font-size: 1rem;
    text-align: center;
    
}
.reset{
    font-size: larger;
    background-color: #424250;
    color: #ffffff;
}

.counter_botton:active {
    background: var(--color-medium-grey);
    transform: translateY(1%)
}

.counter_botton_fisrt {
    border-right: 1px solid var(--color-light-grey);
}

.counter_botton_disabled {
    background: blueviolet;
}

.footer {
    background: var(--color-dark-grey);
    color:  var(--color-light-grey);
    padding: 2rem;
    font-size: 0.8rem;
    text-align: center;
}

.footer_link {
    color:var(--color-white);
}